@import "./utils/variables";
@import './components/navbar';
@import "./base/typography";
@import "./pages/home";
@import "./themes/light";
@import "./themes/dark";
@import "./base/base";

/* Use for theme configuration */

$color-headings: var(--color-headings);
$color-text: var(--color-text);
$bg: var(--bg);
$bg-panel: var(--bg-panel);

/*******************************/

// variable color is automatically linked with theme
// $color-headings,
// $color-text,
// $bg and
// $bg-panel
