
/* Dark Theme Color */

$dark-color-headings: #FEFFFF;
$dark-color-text: #707A84;
$dark-bg: #1B1F24;
$dark-bg2: #171515;
$dark-bg-panel: #1d1a1a;


/* Light Theme Color */

// $light-color-headings: #24292E;
$light-color-headings: #171515;
$light-color-text: #959DA5;
$light-bg-panel:  #e8eaea;
$light-bg: #FFFFFF;


/* Other */

$color-primary: gray;
$color-dark: #171515;


/* Typography font font-family */

$font-family-text: OpenSans, Arial, Helvetica, sans-serif;
$font-family-input: SourceCodePro, monaco, Courier, monospace;
