
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../vendors/polices/Open_Sans/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../vendors/polices/Helvetica-Font/Helvetica.ttf") format("ttf");
}

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../vendors/polices/source-code-pro/SourceCodePro-Black.otf") format("otf");
}

@font-face {
  font-family: "Courier";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../vendors/polices/Courier_Prime/CourierPrime-Regular.ttf") format("ttf");
}
